version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      npm-all:
        patterns:
          - "*"
    ignore:
      - dependency-name: "tailwindcss"
        versions: [">=4.0.0"]
