---
import Layout from "~/layouts/PageLayout.astro";
---
<Layout>
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
  <script is:inline src="/pagefind/pagefind-ui.js"></script>


  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl" data-pagefind-ignore="all">
    <h1>Search the Blog</h1>
    <div id="search" ></div>
  </section>

  <script>
    // @ts-expect-error
    import { PagefindUI } from "@pagefind/default-ui";

    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', initializeSearchBox);
    } else {
        initializeSearchBox();
    }

function initializeSearchBox()  {
      new PagefindUI({
        element: "#search",
        showSubResults: true,
        autofocus: true,
        showImages: true
      });
      const el = document.querySelector(".pagefind-ui");
      const input = el?.querySelector<HTMLInputElement>(`input[type="text"]`);
      const clearButton = el?.querySelector(".pagefind-ui__search-clear");
      // Check if the current URL has any query params
      const url = new URL(window.location.href);
      const params = new URLSearchParams(url.search);
      const query = params.get("q");

      // If query exists on page load
      if (query && input) {
        input.value = query;
        input.dispatchEvent(new Event("input", { bubbles: true }));
      }
      input?.addEventListener("input", (e) => {
        const input = e.target as HTMLInputElement;
        const url = new URL(window.location.href);
        const params = new URLSearchParams(url.search);
        params.set("q", input.value);
        window.history.replaceState({}, "", `${url.pathname}?${params}`);
      });
      clearButton?.addEventListener("click", () => {
        const url = new URL(window.location.href);
        const params = new URLSearchParams(url.search);
        params.delete("q");
        window.history.replaceState({}, "", `${url.pathname}`);
      });
    };
  </script>
</Layout>